*{
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: skyblue;
    line-height: 70px;
    padding: 30px;
}
a ,a:hover{
text-decoration: none!important;
}
.logout {
    float: right;
    padding-right: 30px;

}

ul {
    background-color: #424a5b;
    height: 100%;
    width: 16%;
    position: fixed;
    text-align: center;
    padding-top: 5px;
}
ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
}
ul li a {
    color: white;
    font-weight: bold;
}
ul li a:hover {
    color: skyblue; 
    text-decoration: none; 
}
.content {
    margin-left: 20%;
    margin-top: 5%;
}